{% extends 'shop/basic.html' %}

{% block title%} Contact Us - My Awesome Cart{% endblock %}
{% block body %}
<div class="container-fluid pd-0">
<img src="/static/contact2.jpg"  class="d-block w-100" alt="...">
</div>
<div class="container my-3">
    <h3 class=text-center ><b><u>Contact Us</u></b></h3>
    <form action="/shop/contact/" method="post">
      {% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name='name' placeholder="Enter Your Name" required>
  </div>
  <div class="form-group">
    <label for="name">Email</label>
    <input type="email" class="form-control" id="email" name='email' placeholder="xyz@abc.com" required>
  </div>

    <div class="form-group">
    <label for="name">Phone</label>
    <input type="tel" class="form-control" id="phone" name='phone' placeholder="Enter Your Phone Number" required>
  </div>


   <div class="form-group">
    <label for="desc">How May We Help You?</label>
    <textarea class="form-control" id="desc" name='desc' rows="3" placeholder="Message.." required></textarea>
  </div>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
</form>



</div>
{% endblock %}
{% block js %}
<script>
{% if thank %}
alert('Thanks for contacting us. We wil get back to you soon!');
document.location = "/shop/contact";
{% endif %}
</script>
{% endblock %}
